In [1]:
import gzip
lemmata = list()
with open('../data/cl-stanza.conllu', 'rt') as f:
    for line in f:
        line = line.rstrip()
        if not line.startswith("#") and line != "":
            lemmata.append(line.split("\t")[2].lower())

len(lemmata)

4501

In [2]:
from collections import Counter
freq = Counter(lemmata)

In [3]:
from pandas import DataFrame
df_freq = DataFrame.from_dict(freq, orient='index', columns=['f1']).sort_values(by='f1', ascending=False)
df_freq

               f1
the           205
of            181
,             174
.             166
be            118
...           ...
afford          1
ethical         1
intractable     1
meticulously    1
resource        1

[1041 rows x 1 columns]

In [4]:
df_freq['N1'] = df_freq['f1'].sum()
df_freq

               f1    N1
the           205  4501
of            181  4501
,             174  4501
.             166  4501
be            118  4501
...           ...   ...
afford          1  4501
ethical         1  4501
intractable     1  4501
meticulously    1  4501
resource        1  4501

[1041 rows x 2 columns]

In [5]:
from pandas import read_csv
df_ref = read_csv("../data/bnc-lemma-lower-freq.tsv.gz",
                  dtype=str, sep="\t", quoting=3, keep_default_na=False, index_col=1, names=["f2"])
df_ref["f2"] = df_ref["f2"].astype(int)

In [6]:
df_ref.loc[""]
N2 = int(df_ref.loc[""]["f2"])
df_ref = df_ref.drop("")
df_ref

          f2
the  6043952
,    5016725
.    4723702
be   4117278
of   3043421
..       ...
’80        1
’n’        1
⅚          1
←          1
♥          1

[559497 rows x 1 columns]

In [7]:
df_ref['N2'] = N2
df_ref

          f2         N2
the  6043952  112297919
,    5016725  112297919
.    4723702  112297919
be   4117278  112297919
of   3043421  112297919
..       ...        ...
’80        1  112297919
’n’        1  112297919
⅚          1  112297919
←          1  112297919
♥          1  112297919

[559497 rows x 2 columns]

In [8]:
df = df_freq.join(df_ref).fillna(0, downcast='infer')

In [9]:
from association_measures.measures import score
df_scored = score(df)

/home/ausgerechnet/.local/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: divide by zero encountered in log2
  result = getattr(ufunc, method)(*inputs, **kwargs)
/home/ausgerechnet/.local/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/home/ausgerechnet/.local/lib/python3.9/site-packages/pandas/core/arraylike.py:397: RuntimeWarning: invalid value encountered in sqrt
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [10]:
df_scored[
    ['conservative_log_ratio', 'log_likelihood', 'log_ratio']
].sort_values(by='conservative_log_ratio', ascending=False).head(50)

                  conservative_log_ratio  log_likelihood  log_ratio
computational                  11.662845     1184.820770  12.547832
linguistics                    10.108123      858.260965  11.014384
modeling                        9.900343       83.929468  13.928654
turing                          8.975997       87.689809  12.104226
bayesian                        8.609623       49.293132  13.606726
siri                            7.569958       33.769617  14.021764
glottochronology                7.569958       33.769617  14.021764
kurdi                           7.569958       33.769617  14.021764
acl                             7.548011       54.007688  11.249174
shrdlu                          7.538970       34.954476  14.606726
iste                            7.538970       34.954476  14.606726
2015                            6.964857       40.458755  11.237492
zakaria                         6.950207       36.680488  15.606726
nlp                             6.924063       50.341497  10.562332
2016                            6.457095       28.443970  11.799371
tagger                          6.457095       28.443970  11.799371
eliza                           6.355376       56.150196   9.562332
isbn                            6.293061       46.717364   9.892481
2012                            6.236261       27.714016  11.519263
linguistic                      5.961075      161.932632   7.585527
-                               5.841690      402.416461   6.799968
language                        5.638569      529.671020   6.443937
2008                            5.626802       25.805935  10.799371
parsing                         5.552690       34.251025   9.699836
wiley                           5.131589       24.325067  10.249174
translation                     4.956290       79.853261   7.195639
corpus                          4.955788       60.126307   7.636004
treebank                        4.950207       16.430600  13.606726
bledsoe                         4.860395       15.751084  13.021764
pos                             4.860395       15.751084  13.021764
overgeneralize                  4.860395       15.751084  13.021764
processing                      4.809263      102.277947   6.699406
spotting                        4.704559       15.245821  12.606726
weizenbaum                      4.704559       15.245821  12.606726
enlightening                    4.704559       15.245821  12.606726
[                               4.652742      366.241430   5.530829
]                               4.651073      366.096573   5.529159
rogerian                        4.610854       17.477016  14.606726
rabiner                         4.610854       17.477016  14.606726
browing                         4.610854       17.477016  14.606726
wargames                        4.610854       17.477016  14.606726
markov                          4.575433       22.704679   9.652530
bracketing                      4.542316       14.843191  12.284798
theoretical                     4.401690       77.866676   6.534289
automata                        4.387593       14.508377  12.021764
interpretability                4.387593       14.508377  12.021764
2000s                           4.387593       14.508377  12.021764
ios                             4.387593       14.508377  12.021764
semantics                       4.370403       35.917219   7.920226
sub-division                    4.314586       21.955273   9.377907